//colors
$white: #ffffff;
$dark-blue: #071d30;
$light-blue: #4884ff;
$smoke-blue: #cddcfb;
$orange: #f4632c;
$light-orange: #fcd8ca;

$gradient: linear-gradient(#f46434, #f88f3c);

//dimensions
$header-height: 57px;

//fonts
$medium-font-size: 16px;

//effects
$box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
$large-shadow: 0 0 10px 0 rgba(0,0,0,.16), 0 2px 30px 0 rgba(0,0,0,.12);
