.footer {
    position: relative;
    z-index: 99;
    height: $footer-height;
    padding: 0 $global-padding*2;

    display: flex;
    align-items: center;

    color: $white;
    background-color: $dark-blue;

    @include breakpoint(xxlarge) {
        padding: 0 $global-padding*5;
    }

    a{
        color: $white;
        transition: color 0.2s ease-in-out;

        &:hover{
            color: $light-blue;
        }
    }

    &__logo {
        text-transform: uppercase;
        font-weight: $global-weight-bold;  
        font-size: 31px;
    }

    &__social-links {
        text-align: center;
    }

    &__lang-swither {
        text-align: right;
        padding-left: $global-padding;
    }

    &__icon{
        font-size: 16px;
        margin: 0 $global-padding/2;
    }
}
