.header {
    position: relative;
    z-index: 99;
    height: $header-height;
    box-shadow: $box-shadow;
    padding: 0 $global-padding*2;

    @include breakpoint(xxlarge) {
        padding: 0 $global-padding*5;
    }

    &__logo{    
        display: flex;
        align-items: center;

        color: $dark-blue;
        text-transform: uppercase;
        font-weight: $global-weight-bold;  
        font-size: 31px;
        transition: transform 0.3s ease-out, color 0.3s ease-out;

        &:hover{
            transform: translateX($global-padding/2);
            color: $light-blue;
        }
    }

    &__item{
        display: flex;
        align-items: center;
        height: $header-height;
        border-right: $hr-border;
    }

    &__help{
        display: block;
        font-size: 44px;
        color: $dark-gray;
        padding-left: $global-padding;
        transition: color 0.3s ease-out;
        
        &:hover{
            color: $black;
            cursor: pointer;
        }
    }
}
