.menu {
    height: $header-height;
    padding-right: $global-padding;
    font-size: $small-font-size;

    display: flex;
    align-items: center;
    justify-content: flex-end;
        
    &__link{
        color: $dark-blue;
        transition: color 0.2s ease-in-out;

        &:hover{
            color: $dark-gray;
        }
    }
}
