.profile{
    display: flex;
    flex-direction: row;
    padding: 3px $global-padding 0 $global-padding;

    background-color: $light-gray;
    border-bottom: 3px solid $light-gray;
    transition: border-color 0.3s ease-in-out;
    
    @include breakpoint(xxlarge) {
        padding: 3px $global-padding*2 0 $global-padding*2;
    }

    &:hover{
        border-bottom: 3px solid $light-blue;
    }
    
    &__icon{
        width: 38px;
        height: 38px;
        padding: 7px;
        color: $white;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $light-blue;
        border: 4px solid $smoke-blue;
        border-radius: 50%;
    }

    &__text{
        padding-left: $global-padding;
        font-weight: $global-weight-bold;
    }
}
