.radio-button{
    display: inline;
    color: $dark-gray;
    font-family: 'Ubuntu Medium', sans-serif;
    text-transform: uppercase;
    border-radius: $global-radius;
    padding: 8px 30px;

    input{
        display: none;        
    }

    &--selected{
        color: $white;
        background-color: $light-blue;
    }
}
