.small-button{
    width: 100%;
    padding: 5px $global-padding/6;
    border-radius: $global-radius;
    outline: none;
    background: $gradient;

    color: $white;
    text-align: center;
    font-size: $small-font-size;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;

    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    
    &:hover, &:active{
        box-shadow: $box-shadow;
    }
}
